<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profil Utilisateur</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <!-- Inclure le header ici -->
    </header>
    <main>
        <h1>Profil de <%= user.username %></h1>
        <p>Email: <%= user.email %></p>
        <!-- Afficher d'autres informations utilisateur ici -->
    </main>
    <footer>
        <!-- Inclure le footer ici -->
    </footer>
</body>
</html>
